*{
  background-color: #df5757;
}

@font-face {
  font-family: 'm6x11';
  src: url(./resources/fonts/m6x11plus.ttf) format('truetype');
}

img{
  border-radius: 20px;
}


h1{
  font-family: 'm6x11', sans-serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}
h3 {
  font-family: 'm6x11', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}